$primary-color: #e9504e;
$secondary-color: #645a52;
$dark-color: #252835;
$bg-color-page: #f5f7fa;
$font-color: #656d79;
$font-color-dark: #655b53;
$font-color-ligth: #aab2be;
$font-size-base: 14px;
$font-size-base-small: 13px;
$green: #8cc152;
$yellow: #fbca54;
$red: #ed5566;